
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-header {
        width: 210.322px;
        height: 68px;
    }
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        li {
            padding-left: 3.5rem;
            a {
                text-decoration: none;
                color: var(--color-red);
                font-size: 1.5rem;
                font-weight: 500;
                font-family: var(--font);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}