 {
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 100px 50px 100px;
}

img {
    width: 210.322px;
    height: 68px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

li {
    padding-left: 3.5rem;
}

li a {
    text-decoration: none;
    color: #FF6060;
    font-size: 1.5rem;
}

li a:hover {
    text-decoration: underline;
}