.banner-about {
    background-image: url(../../assets/images/banner-about-img.png);
    margin: 3rem 0;
    background-position: center;
    background-size: cover;
    height: 14rem;
    border-radius: 25px;

    @media (max-width:768px) {
        border-radius: 10px;
        margin: -0.25rem 0 1.25rem 0;
    }
}