.banner-about {
    background-image: url(../../assets/images/banner-about-img.png);
    margin: 3rem 0 3rem 0;
    background-position: center;
    background-size: cover;
    height: 14rem;
    border-radius: 25px;
}