.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease;

   .accordion-header {
        background-color: var(--color-red);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        height: 3.25rem;

        &:hover {
            cursor: pointer;
        }

        h3 {
            color: #FFF;
            font-family: var(--font);
            font-size: 18px;
            font-weight: 500;
            margin-left: 0.75rem;
        }

        svg {
            margin-right: 1.25rem;
            transition: transform 0.3s ease;
        }

        .caret-icon.rotated {
            transform: rotate(180deg);
        }
    }
    .accordion-content {
        font-family: var(--font);
        color: var(--color-red);
        background-color: var(--color-gray);
        font-size: 18px;
        font-weight: 400;
        border-radius: 0 0 10px 10px;
        line-height: 142.6%;
        position: relative;
        top: -0.75rem;
        z-index: -1;
        padding: 0 1.25rem 0 1.25rem;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        

       &.opened {
        padding: 2rem 1.25rem 1.25rem 1.25rem;
        max-height: 500px;
      }
    }
}